@media screen and (min-width: 1280px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 92px auto;
    max-width: 1184px;
  }
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    max-width: 928px;
    margin: 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    max-width: 720px;
    margin: 92px auto;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    max-width: 288px;
    margin: 64px auto;
    display: grid;
  }
}
