.footer__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    text-align: left;
  }
}
