@media screen and (min-width: 1280px) {
  .intro {
    max-width: 984px;
    margin: 92px auto 0;
  }
}
@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    margin: 92px auto 0;
    /* margin: 92px 286px 0 48px; */
  }
}
@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin: 92px 286px 0 48;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 91vw;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
}
