.lead__subtitle {
  width: 640px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 16px;
    width: 90vw;
    margin-top: 16px;
  }
}
